<!DOCTYPE html>
<html>
<head>
    <title>Pendulum Animation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"
            integrity="sha512-3RlxD1bW34eFKPwj9gUXEWtdSMC59QqIqHnD8O/NoTwSJhgxRizdcFVQhUMFyTp5RwLTDL0Lbcqtl8b7bFAzog=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8" async>
    let pendulum;
    let history = [];

    function setup() {
        createCanvas(1000, 700);
        pendulum = new Pendulum(width / 2, 400, 250);

        httpGet('/get_state', 'json', false, function (response) {
            console.log(response);
            pendulum.angle = response.angle + PI;
            pendulum.delta_x = response.delta_x;
        });

        var socket = io();
        socket.on('set_state', function(msg) {
            // console.log(getFrameRate());
            history.push(msg);
            // pendulum.angle = msg.angle + PI;
            // pendulum.delta_x = msg.delta_x;
        });
        socket.on('system', function(msg) {
            console.log(msg);
        });
    }

    function draw() {
        background(220);
        strokeWeight(7);
        line(50, 400, 950, 400);
        pendulum.update();
        pendulum.display();
    }

    class Pendulum {
        constructor(originX, originY, armLength) {
            this.origin = createVector(originX, originY);
            this.delta_x = 0;
            this.pos = createVector(originX, originY);
            this.armLength = armLength;
            this.angle = 0; // initial angle
            this.ballRadius = 30.0; // Arbitrary ball radius
        }

        update() {
            let ts = Date.now() / 1000. - 0.200;
            let tail = history.slice(-200);
            let found = false;
            for (let i = 0; i < tail.length - 1; i++) {
                if (tail[i]['timestamp'] <= ts && ts <= tail[i+1]['timestamp']) {
                    let dt = tail[i+1]['timestamp'] - tail[i]['timestamp'];
                    let ratio = (ts - tail[i]['timestamp']) / dt;
                    let d_angle = tail[i+1]['angle'] - tail[i]['angle'];
                    let d_delta_x = tail[i+1]['delta_x'] - tail[i]['delta_x'];
                    let angle = tail[i]['angle'] + ratio * d_angle;
                    let delta_x = tail[i]['delta_x'] + ratio * d_delta_x;
                    found = true;
                    pendulum.angle = angle + PI;
                    pendulum.delta_x = delta_x;
                    // console.log(dt, ratio, tail[i], tail[i+1], angle, delta_x);
                }
            }
            if (history.length && !found) {
                let last = history.slice(-1)[0];
                pendulum.angle = last.angle + PI;
                pendulum.delta_x = last.delta_x;
            }
            
            this.pos = createVector(this.origin.x, this.origin.y)
            this.pos.x += this.delta_x
        }

        display() {
            let x = this.armLength * sin(this.angle);
            let y = this.armLength * cos(this.angle);

            stroke(0);
            strokeWeight(2);
            fill(127);
            rect(this.pos.x - this.ballRadius / 2, this.pos.y - this.ballRadius / 2, this.ballRadius, this.ballRadius);
            line(this.pos.x, this.pos.y, this.pos.x + x, this.pos.y + y);
            fill('yellow');
            ellipse(this.pos.x + x, this.pos.y + y, this.ballRadius, this.ballRadius);
        }
    }
</script>
</body>
</html>
